body {
  font-family: "Courier New", Courier, monospace;
}

table {
  margin: 30px;
  border-collapse: collapse;
}

td,
th {
  $size: 10px;
  width: $size;
  height: $size;
  border: 1px solid black;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
}

strong {
  font-weight: bold;
}

textarea {
  width: 100%;
  font-size: 20px;
}

button {
  margin: 30px;
  padding: 10px;
  cursor: pointer;
}

.TableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeadCol {
  font-size: 8px;
  background-color: white;
  color: black;

  &--empty {
    border: none;
  }
}

.Table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px;
}

.TableLegend {
  display: flex;

  &__Item {
    width: 3px;
    height: 10px;
  }

  &__Caption {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}

.Footer {
  width: 90%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Error {
  margin-top: 30px;
  border: 1px solid rgb(200, 0, 0);
  border-radius: 4px;
  padding: 10px;
  max-width: 800px;
  background-color: rgb(249, 225, 225);
  display: flex;
  flex-direction: column;

  span {
    &:first-child {
      font-style: italic;
    }

    margin-top: 5px;
  }
}

.JSONInput {
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GroupLabelColorPicker {
  margin: 50px;

  &__GroupNameInput {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

    input {
      flex-grow: 1;
      font-family: "Courier New", Courier, monospace;
      font-size: 16px;
    }

    button {
      margin: 0;
      padding: 0;
      width: 35px;
      height: 35px;
      margin-left: 40px;
      background-color: rgba(8, 218, 36, 0.766);
      color: black;
      border-width: 1px;
      border-radius: 3px;

      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
  }
}

.GroupLabelColorPickerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  label,
  input {
    cursor: pointer;
  }

  label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-style: italic;
  }

  input {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }

  button {
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    margin-left: 40px;
  }

  &__Name {
    margin-right: 25px;
  }

  &__Controls {
    display: flex;
  }
}
